body {
    
    padding-top:90px;
    padding-bottom: 60px;

}

footer {
    
    background-color: #bdc3c7;
    color:white;
    position:fixed;
    bottom:0;
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
    font-size:0.8em;
    
}

.navbar {
    
    background-color: #8e44ad;
    color:white;
    
}

#myNavbar > ul > li > a {
    
    color: white;
    
}

.navbar-brand {
    
    color: white !important;
    font-size:22px;
    
}

.errorMessage {
    
    color: red;
    
}